# Dependências do Node
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Variáveis de Ambiente (CRÍTICO: não subir credenciais)
.env
.env.local
.env.*.local

# Build da Produção (React/Vite)
/dist
/build

# Ignorar o diretório do Backend (será um repositório separado)
/backend